#inputForm{
    height: 10rem;
    width: 30rem;
    text-align: center;
    position: relative;
    left: 510px;
}

#inputChannel{
    height: 3rem;
    width:  20rem;
    position: relative;
    top: 50px;
    border-radius: 20px;
    border: 0px;
    background-color: black;
    padding-left: 15px;
    color: aliceblue;
    font-size: large;
}
#inputChannel::placeholder{
    color: rgb(202, 201, 201);
    position: relative;
    left: 3px;
    font-size: small;
}

#submitBtn{
    width: 6rem;
    height: 2.5rem;
    position: relative;
    top: 50px;
    border-radius: 20px;
    border: 0px;
    left: 30px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}
#submitBtn:hover{
    box-shadow: 0px 0px 5px whitesmoke;
}
#submitBtn:active{
    background-color: white;
    color: black;
}




/*------------------Media Queries---------------------*/






@media screen and (max-width:1025px) {
    #inputForm {
        left: 280px;
    }
}




@media screen and (min-width:427px) and (max-width:769px) {
    #inputForm {
        height: 8rem;
        width: 30rem;
        left: 140px;
    }
    #inputChannel{
        height: 3rem;
        width: 20rem;
        top: 25px;
        padding-left: 15px;
        font-size: large;
    }

    #submitBtn{
        width: 6rem;
        height: 2.5rem;
        top: 25px;
        left: 15px;
    }
}




@media screen and (max-width:426px) {
    #inputForm {
        height: 4rem;
        width: 25rem;
        left: 0px;
    }
    #inputChannel{
        height: 3rem;
        width:  15rem;
        top: 8px;
        padding-left: 10px;
        font-size: large;
    }

    #submitBtn{
        width: 6rem;
        height: 2.5rem;
        top: 8px;
        left: 15px;
    }
}
@media screen and (min-width:321px) and (max-width:376px) {
    #inputForm {
        height: 4rem;
        width: 23rem;
        left: 0px;
    }
    #inputChannel{
        height: 3rem;
        width:  12rem;
        top: 8px;
        padding-left: 10px;
        font-size: large;
    }

    #submitBtn{
        width: 6rem;
        height: 2.5rem;
        top: 5px;
        left: 15px;
    }
}
@media screen and (max-width:320px) {
    #inputForm {
        height: 4rem;
        width: 19rem;
        left: 5px;
    }
    #inputChannel{
        height: 3rem;
        width:  10rem;
        top: 5px;
        padding-left: 10px;
        font-size: large;
    }

    #submitBtn{
        width: 6rem;
        height: 2.5rem;
        top: 5px;
        left: 15px;
    }
}